<app-data
  [itemList]="DataPassList"
  (updateClicked)="updateItem($event)"
  [inUpdate]="dataInUpdate"
  [dataToBeUpdate]="dataToBeUpdated"
  (updateThisData)="dataUpdatingFunction($event)"
></app-data>

<div class="body">
  <table border="2" class="simple-table">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>GENDER</th>
      <th>AGE</th>
      <th>MOBILE_NUMBER</th>
      <th>UPDATE RECORD</th>
      <th>DELETE RECORD</th>
    </tr>
    <tr *ngFor="let data of DataPassList">
      <td>{{ data.Id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.Gender }}</td>
      <td>{{ data.Age }}</td>
      <td>{{ data.Mobile }}</td>
    </tr>
  </table>

  <router-outlet></router-outlet>
</div>
